<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="relative h-screen"> 


    <nav> 
        <div class="px-4 mx-5 py-2 flex justify-between">
         
         <a  class="font-bold text-3xl text-orange-600/90 tracking-tighter hover:none" href="landing">Chegg</a>
         <div class="flex gap-4 justify-center items-center" >
         <a class="text-lg font-semibold " href="/subjects">Subjects</a>
         <a class="text-lg font-semibold " href="/earning">Your earnings</a>
         </div>
         <a class="bg-orange-600 text-white py-1 px-4 rounded-lg font-semibold text-lg cursor-pointer hover:bg-orange-700 transition tracking-tigh " href="/logout">LOGOUT</a>
     
        </div>
     </nav>   

<content>
     <div class="h-96 bg-orange-200/30 mt-12 ">
    <div class="px-10 py-2 flex h-full w-full "> 
        <div class="left w-2/3 py-8 pl-20 ">
            <h1 class="tracking-tighter text-5xl  font-semibold mt-6 mb-7">Earn with Chegg</h1>
            <p class="text-md tracking-tighter leading-[1] ">Get 24/7 study support, tutoring help, <br> and learning tools<br>
            starting at ₹ 299/month*. </p>
            <button class="bg-orange-600 text-white py-1 px-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-orange-700 transition tracking-tigh mt-9"><a href="">Earn More</a> </button>

        </div>
        <div class="right h-full bg-black w-1/3 mr-12 rounded-xl overflow-hidden">
            <img class="w-full h-full object-cover" src="https://www.cheggindia.com/wp-content/uploads/2024/03/Homepage_Desktop_Hero-1024x683.png.webp" alt="">
        </div>
    </div>

     
</div>
</content>

<footer>
    <div class="bg-black p-5 w-full absolute z-10 bottom-0 text-center text-white"> 
        © 2024 Chegg Inc. All rights reserved.
    </div>

</footer>
</div>





</body>
</html>